<a href="https://colab.research.google.com/github/sharmarohan005-art/Python/blob/main/Data_Types_%26_Strutures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Q1. Write a code to create a string with your name and print it

In [3]:
name = "Rohan"
print(name)
type(name)

Rohan

str

Q2.  Write a code to find the length of the string "Hello World"

In [5]:
string = "Hello World"
length = len(string)
print(length)

11

Q.3 Write a code to slice the first 3 characters from the string "Python Programming"P

In [3]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q.4 Write a code to convert the string "hello" to uppercase

In [4]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"P

In [5]:
string1 = "I like apple"
string2 = string1.replace("apple", "orange")
print(string2)

I like orange

Q.6 P Write a code to create a list with numbers 1 to 5 and print it

In [6]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

Q.7  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

Q.10 Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print("Second-last color:", my_tuple[-2])

Second-last color: blue

Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(f"The minimum number in the tuple is: {minimum_number}")

The minimum number in the tuple is: 5

Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
element_to_find = 'cat'
index = my_tuple.index(element_to_find)
print(f"The index of '{element_to_find}' is: {index}")

The index of 'cat' is: 1

Q.15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [24]:
fruits_tuple = ("apple", "banana", "orange")
if "kiwi" in fruits_tuple:
    print("Yes, 'kiwi' is in the fruits tuple.")
else:
    print("No, 'kiwi' is not in the fruits tuple.")

No, 'kiwi' is not in the fruits tuple.

Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [25]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [26]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [27]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [30]:
people_info = {
    "name": "Rohan",
    "age": 40,
    "city": "Indore"
}
print(people_info)

{'name': 'Rohan', 'age': 40, 'city': 'Indore'}

Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [31]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_to_check = 'city'
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
my_list = [1, 2, 3, "apple", "banana"]
my_tuple = (4, 5, 6, "orange", "grape")
my_dictionary = {"name": "Rohan", "age": 40, "city": "Indore"}
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dictionary)

My List: [1, 2, 3, 'apple', 'banana']
My Tuple: (4, 5, 6, 'orange', 'grape')
My Dictionary: {'name': 'Rohan', 'age': 40, 'city': 'Indore'}

Q.27 . Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
import random
random_numbers = []
for _ in range(5):
    random_numbers.append(random.randint(1, 100))
random_numbers.sort()
print(random_numbers)

[38, 48, 48, 52, 62]

Q.28 Write a code to create a list with strings and print the element at the third index.

In [37]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

Q.29 Write a code to combine two dictionaries into one and print the result.

In [39]:
dict1 = {'product': 'Laptop', 'price': 1000}
dict2 = {'brand': 'Xiomi', 'price': 1200}
combined_dict = dict1 | dict2
print(combined_dict)

{'product': 'Laptop', 'price': 1200, 'brand': 'Xiomi'}

Q.30 Write a code to convert a list of strings into a set.

In [40]:
my_list_of_strings = ["apple", "banana", "orange", "apple", "grape"]
my_set_of_strings = set(my_list_of_strings)
print(my_set_of_strings)

{'grape', 'orange', 'banana', 'apple'}