Q.1  Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [3]:
def sum_of_even_numbers(numbers):
  total_even_sum = 0
  for number in numbers:
    if number % 2 == 0:
      total_even_sum += number
  return total_even_sum

Q.2 Create a Python function that accepts a string and returns the reverse of that string.

In [4]:
def reverse_string(input_string):
  return input_string[::-1]

Q.3 Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [14]:
l = []
for i in range(1, 11):
    l.append(i * i)
print("List with square of integers from 1 to 11:")
print(l)

List with square of integers from 1 to 11:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q.4 Write a Python function that checks if a given number is prime or not from 1 to 200.

In [20]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 2
2 is a prime number.

Q.5  Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [26]:
def fibonacci(n):
    l = [0,1]
    for i in range(2,n):
        l.append(l[-1]+l[-2])
    return l
if __name__ == "__main__":
    n = 10
    fibo = fibonacci(n)
    print("Fibonacci Series: ",*fibo)
    pass

Fibonacci Series:  0 1 1 2 3 5 8 13 21 34

Q.6  Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [27]:
def powers_of_two(max_exponent):
    for i in range(max_exponent + 1):
        yield 2 ** i
two_powers_gen = powers_of_two(5)
print("Powers of 2 up to exponent 5:")
for power in two_powers_gen:
    print(power)

Powers of 2 up to exponent 5:
1
2
4
8
16
32

Q.7  Implement a generator function that reads a file line by line and yields each line as a string.

In [28]:
L = ["Rohan\n", "Sharma\n", "is\n",  "reading\n"]
file1 = open('myfile.txt', 'w')
file1.writelines(L)
file1.close()
file1 = open('myfile.txt', 'r')
Lines = file1.readlines()
count = 0
for line in Lines:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: Rohan
Line2: Sharma
Line3: is
Line4: reading

Q.8  Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [31]:
data = [('Rohan', 3), ('Rahul', 1), ('Ravi', 4), ('Rajesh', 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[('Rahul', 1), ('Rajesh', 2), ('Rohan', 3), ('Ravi', 4)]

Q.9  Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [32]:
def celsius_to_fahrenheit(celsius):
  return (celsius * 9/5) + 32
celsius_temperatures = [0, 11, 30, 37, 200]
fahrenheit_temperatures_map = map(celsius_to_fahrenheit, celsius_temperatures)
fahrenheit_temperatures = list(fahrenheit_temperatures_map)
print(f"Celsius temperatures: {celsius_temperatures}")
print(f"Fahrenheit temperatures: {fahrenheit_temperatures}")

Celsius temperatures: [0, 11, 30, 37, 200]
Fahrenheit temperatures: [32.0, 51.8, 86.0, 98.6, 392.0]

Q.10 Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [35]:
def remove_vowels(input_string):
    vowels = "aeiouAEIOU"
    is_not_vowel = lambda char: char not in vowels
    filtered_characters = filter(is_not_vowel, input_string)
    result_string = "".join(filtered_characters)
    return result_string
my_string = "Hi how are you"
string_without_vowels = remove_vowels(my_string)
print(f"Given string: {my_string}")
print(f"String without vowels: {string_without_vowels}")

Given string: Hi how are you
String without vowels: H hw r y

Q.11  Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:









Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

- Firstly we will define the list of orders as given in the problem statement then create a lambda function to calculate the total cost of each order. If the total cost is less than 100.00 €, add 10.00 € to the total cost after that use the map function to apply the lambda function to each order in the list & Convert the result of the map function to a list Finally print or return the final list of 2-tuples.

Find the below explaining the steps mentioned above:

In [1]:
orders = [
    ["34587", "Learning Python, Mark Lutz", 4, 40.95],
    ["98762", "Programming Python, Mark Lutz", 5, 56.80],
    ["77226", "Head First Python, Paul Barry", 3, 32.95],
    ["88112", "Python Cookbook, David Beazley", 3, 24.99]
]

result = list(map(lambda x: (x[0], x[2] * x[3] + 10 if x[2] * x[3] < 100 else x[2] * x[3]), orders))

print(result)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]